<header class="main-header" role="banner">
  <div class="container">
    {{ page.header }}
    <div class="main-navigation">
      {{ page.main_navigation }}
    </div>
    <div class="header-content">
    	<h1>Hi, I'm Joe,</h1>
    		<p>a web developer.</p>
    		<ul id="skills-list">
    			<li>HTML</li>
    			<li>CSS</li>
    			<li>JavaScript</li>
    			<li>PHP</li>
    			<li>MySQL</li>
    		</ul>
    </div>
  </div>
</header>